<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!--<ul>
  @for(Movie of Movies;track Movie){
    <li>
      <img src="{{movie.Poster}}">
      <p>{{movie.Title}}</p>
      <p>{{movie.Year}}</p>
    </li>
  }
 </ul> -->

 <!-- html to display the title year and poster from the json file of the movie app -->
 @for(movie of movies;track movie){
<ion-card>
  <img alt="Movie Poster" src={{movie.Poster}} />
  <ion-card-header>
    <ion-card-title>{{movie.Title}}</ion-card-title>
    <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
  </ion-card-header>

  <!-- description of the card, self explanatory -->
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
 }

</ion-content>
